:root {
  --bg: #f6f6f6;
  --component-bg: #ffffff;
}

body {
  background-color: var(--bg);
}
.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  min-width: 80rem;
}

.cvContainer {
  background-color: var(--component-bg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  padding: 2rem;
}

.cvContainer > * {
  padding-bottom: 2rem;
}

.formInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.section-title {
  text-align: left;
}
.text-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #9ca3af;
  outline: none;
}
.text-input:focus {
  color: #1f2937; /* text-gray-800 */
}
.label-title {
  display: block;
  color: #1f2937; /* gray-800 */
  font-weight: 600;
  font-size: 0.875rem; /* text-sm */
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  outline: none;
}

.button-9:hover {
  background-color: #9eabf7;
}

.button-9-edit {
  background-color: #e3e3e3;
  color: #1f2937;
}

.button-9-edit:hover {
  background-color: #fbfbfb;
}

.cv-preview {
  background-color: var(--component-bg);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  min-width: 100%;
}
.cv-actions {
  display: flex;
  gap: 1rem;
}

/* CV PREVIEW */

.cv-preview {
  max-width: 800px;
  margin: 40px auto;
  padding: 40px;
  background: #ffffff;
  color: #111;
  font-family: "Helvetica Neue", Arial, sans-serif;
  line-height: 1.5;
}

.cv__header {
  /* border-bottom: 2px solid #e5e5e5; */
  padding-bottom: 3rem;
  margin-bottom: 24px;
}

.cv__name {
  font-size: 32px;
  font-weight: 700;
  margin: 0;
  letter-spacing: 0.5px;
}

.cv__contact {
  list-style: none;
  display: flex;
  gap: 16px;
  padding: 0;
  margin: 8px 0 0;
  font-size: 14px;
  color: #555;
  justify-content: center;
}

.cv__contact-item {
  white-space: nowrap;
}

.cv__section {
  margin-bottom: 28px;
}

.cv__section-title {
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: #222;
  text-align: left;
  border-bottom: 2px solid #e5e5e5;

  margin-bottom: 24px;
}
.cv__entry-details {
  /* display: grid;
    grid-template-columns: .5fr 1fr; */
}
.cv__entry {
  display: flex;
  justify-content: space-between;
  margin: 0 1.25rem;
}

.cv__entry--job {
  display: block;
}
.cv__entry-job-details {
  display: flex;
}

.cv__entry-title {
  font-weight: 600;
  margin: 0 0 4px;
  font-size: 0.9rem;
}
.cv__entry-details {
  list-style: none;
  margin: 0;
  font-size: 0.9rem;
}
.cv__entry-meta {
  text-align: left;
  margin: 0 1.25rem;
  display: flex;
  justify-content: space-between;
}

.cv__entry-desc {
  text-align: left;
  margin: 0 1.25rem;
}

ul {
  padding: 0;
}
