
.cvContainer{
    background-color: rgb(240, 238, 238);
    padding: 2rem;
}

.formInputContainer{
    display: flex;
    flex-direction: column;
    text-align: left;
}

.section-title {
    text-align: left;
}
.text-input {
  display: block;
  width: 14rem; 
  padding: 0.375rem 0.5rem; 
  border-radius: 0.375rem; 
  border: 1px solid #9ca3af; 
  outline: none;
}
.text-input:focus {
  color: #1f2937; /* text-gray-800 */
}
.label-title {
  display: block;
  color: #1f2937; /* gray-800 */
  font-weight: 600;
  font-size: 0.875rem; /* text-sm */
}