.wrapper {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5rem;
  min-width: 80rem;

  
}

.cvContainer {
  background-color: rgb(240, 238, 238);
  padding: 2rem;
}

.formInputContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.section-title {
  text-align: left;
}
.text-input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.5rem;
  border-radius: 0.375rem;
  border: 1px solid #9ca3af;
  outline: none;
}
.text-input:focus {
  color: #1f2937; /* text-gray-800 */
}
.label-title {
  display: block;
  color: #1f2937; /* gray-800 */
  font-weight: 600;
  font-size: 0.875rem; /* text-sm */
}

/* CSS */
.button-9 {
  appearance: button;
  backface-visibility: hidden;
  background-color: #405cf5;
  border-radius: 6px;
  border-width: 0;
  box-shadow: rgba(50, 50, 93, 0.1) 0 0 0 1px inset, rgba(50, 50, 93, 0.1) 0 2px 5px 0, rgba(0, 0, 0, 0.07) 0 1px 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  font-family: -apple-system, system-ui, "Segoe UI", Roboto, "Helvetica Neue", Ubuntu, sans-serif;
  font-size: 100%;
  height: 44px;
  line-height: 1.15;
  margin: 12px 0 0;
  outline: none;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: center;
  text-transform: none;
  transform: translateZ(0);
  transition: all 0.2s, box-shadow 0.08s ease-in;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
}

.button-9:disabled {
  cursor: default;
}

.button-9:focus {
  outline: none;
}

.button-9:hover {
  background-color: #9eabf7;
}

.button-9-edit {
  background-color: #e3e3e3;
  color: #1f2937;
}

.button-9-edit:hover {
  background-color: #fbfbfb;
}

.cv-preview {
  background-color: rgb(240, 238, 238);
  min-width: 100%;
}
